<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="foeHealthBar"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHealthBar"></div>
        </div>
      </section>
      <section class="container" v-if="winner">
        <h1>Game Over</h1>
        <h2 v-if="winner === 'player'">You won</h2>
        <h2 v-else-if="winner === 'foe'">You lost</h2>
        <h2 v-else>It is a draw</h2>
        <button @click="startGame">Restart</button>
      </section>
      <section id="controls">
        <button @click="atackFoe" :disabled="winner">ATTACK</button>
        <button @click="specialAtackFoe" :disabled="specialAtackable || winner">SPECIAL ATTACK</button>
        <button @click="healPlayer" :disabled="winner">HEAL</button>
        <button @click="surrender" :disabled="winner">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="log in logs">
            <span :class="log.user === 'Player' ? 'log--player' : 'log--monster'">{{log.user}}</span>
            <span v-if="log.atack"> atacks and deals <span class="log--atack">{{log.dmg}}</span></span>
            <span v-else> heals himself for <span class="log--heal">{{log.dmg}}</span></span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
